/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f9;
    color: #333;
}

/* Header de juego */
.game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4a90e2;
    color: white;
    padding: 0.8rem 1.5rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Logo -----------------------------------*/
.logo-section {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre logo e input */
}
.logo-section img {
    height: 50px;
}
.logo-section input {
    padding: 8px;
    border: none;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
}


/* Timer centrado ------------------------------------------*/
.timer {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Controles (botones) */
.controls button {
    margin-left: 10px;
    padding: 8px 15px;
    background: white;
    color: #4a90e2;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.controls button:hover {
    background: #357ab8;
    color: white;
}


